*{
    /* outline: 1px  solid #f00; */
}
body{
    font-family: 'Noto Sans TC', ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.heroImg{
    background: url('./images/20221018-DSC07499\ 1.png') 50% 50% no-repeat;
    background-size: cover;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.product-group{
    padding-top: 118%;

}


.avator-comment::before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent rgb(226 232 240 / var(--tw-border-opacity)) transparent transparent;
    content: "";
    position: absolute;
    left: -12px;
    top: calc(30% - 7.5px);
 
    width: 0px;
}
.avator-comment::after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 11px 0;
    border-color: transparent #fff transparent transparent;
    content: "";
    position: absolute;
    left: -11px;
    top: calc(30% - 7px);
 
    width: 0px;
}

.select_img div:not(:first-child):before{
    content: '+';
    display: inline-block;

}
@media screen and (max-width: 768px) {
    /* .swiper{
        height: 350px;
    } */
}
@media screen and (min-width: 769px) {
    .swiper-slide{
        width: auto!important;
        margin-right: 15px!important;
        }
}

.swiper-pagination {
    position: relative !important;
}

.swiper-pagination-bullet-active{
    background: #000 !important;
}