*{
    /* outline: 1px  solid #f00; */
}
.heroImg{
    background: url('./images/20221018-DSC07499\ 1.png') 50% 50% no-repeat;
    background-size: cover;
}
img{
    width: 100%;
    height: 100%;
    display: block;
}
.product-group{
    padding-top: 118%;

}

.product-group1{
    background-image: url('images/s2_1.png');
}
.product-group2{
    background-image: url('images/s2_2.png');
}
.product-group3{
    background-image: url('images/s2_3.png');
}
.product-group4{
    background-image: url('images/s2_3.png');
}
.avator-comment::before{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 12px 12px 12px 0;
    border-color: transparent rgb(226 232 240 / var(--tw-border-opacity)) transparent transparent;
    content: "";
    position: absolute;
    left: -12px;
    top: calc(30% - 7.5px);
 
    width: 0px;
}
.avator-comment::after{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 11px 11px 11px 0;
    border-color: transparent #fff transparent transparent;
    content: "";
    position: absolute;
    left: -11px;
    top: calc(30% - 7px);
 
    width: 0px;
}

.select_img div:not(:first-child):before{
    content: '+';
    display: inline-block;

}

.swiper{
    height: 500px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.swiper-slide {
    width: 50%;
}

.swiper-slide:nth-child(2n) {
    width: 80%;
}

.swiper-slide:nth-child(3n) {
    width: 40%;
}
